spring:
  data:
    rest:
      base-path: /datarest
  datasource:
    url: ${DB_URL:jdbc:postgresql://127.0.0.1:5432/petdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    platform: postgresql
    hikari:
      maximum-pool-size: 60
      minimum-idle: 60
    initialization-mode: always
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL94Dialect
    show-sql: true
    generate-ddl: false
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate
management:
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: health, logfile, metrics
      base-path: /monitoring
  endpoint:
    health:
      enabled: true
      show-components: when_authorized
      show-details: when_authorized
      roles: ADMIN
      cache:
        time-to-live: 5000
    info:
      enabled: true
    env:
      enabled: true
    heartbeat:
      enabled: true
    logfile:
      enabled: true
    metrics:
      enabled: true
logging:
  file:
    path: ./springactuator
    clean-history-on-start: true
    max-history: 7
    name: book-sharing-provider.log
    max-size: 100MB
    total-size-cap: 200MB
#  level:
#    root: DEBUG
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
com:
  whoisacat:
    bookSharingProvider:
      health:
        heartbeat:
          period: 1000
