<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book Sharing provider. Details</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <span>
            <a href="/logout"> Выйти</a>
        </span><p/>
        <span>
            <a href="/"> К поиску</a>
        </span>
        <br>
        <span>
            <a href="/books/my"> К списку своих книг</a>
        </span>
        <h1>Детальная информация о пользователе:</h1>

        <div class="row">
            <label for="firstName">Имя:</label>
            <input id="firstName" type="text" readonly="${dto.readonly}" th:value="${dto.firstName}" value="Имя"/>
        </div>

        <div class="row">
            <label for="lastName">Фамилия:</label>
            <input id="lastName" type="text" readonly="${dto.readonly}" th:value="${dto.lastName}" value="Фамилия"/>
        </div>

        <div class="row">
            <label for="genre-title">e-mail:</label>
            <input id="genre-title" type="text" readonly="readonly" th:value="${dto.email}" value="user@server.top-level"/>
        </div>

        <div>
            <table class="places" align="center" width="100%" style="border-collapse: collapse">
                <thead>
                <tr>
                    <th>Страна</th>
                    <th>Город</th>
                    <th>Улица</th>
                    <th>Дом</th>
                    <th>Ориентир</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="place : ${dto.places}">
                    <td th:text="${place.country}">Россия</td>
                    <td th:text="${place.city}">Екатеринбург</td>
                    <td th:text="${place.street}">8 Марта</td>
                    <td th:text="${place.house}">194</td>
                    <td th:text="${place.orient}">Бизнесгалерея, секция Д, Флаги Автодилер</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="addplace">

        </div>
    </div>
    <script>
        $(function () {
                $(".addplace").append(`
                    <div>
                        <form id="add-place" th:action="@{/visitingPlace}" th:method="post" action="/visitingPlace">
                            <h1>Добавить место посещения:</h1>

                            <span class="row">
                                <label for="place-input">Страна:</label>
                                <input id="place-input" name="country" type="text" placeholder="Страна"/>
                            </span>

                            <span class="row">
                                <label for="city-input">Город:</label>
                                <input id="city-input" name="city" type="text" placeholder="Город"/>
                            </span>

                            <span class="row">
                                <label for="street-input">Улица:</label>
                                <input id="street-input" name="street" type="text" placeholder="Улица"/>
                            </span>

                            <span class="row">
                                <label for="house-input">Дом:</label>
                                <input id="house-input" name="house" type="text" placeholder="Дом"/>
                            </span>

                            <span class="row">
                                <label for="orient-input">Ориентир:</label>
                                <input id="orient-input" name="orient" type="text" placeholder="Ориентир"/>
                            </span>

                            <span class="row">
                                <button type="submit">Save</button>
                            </span>
                        </form>
                    </div>
                    <span>
                        <button onClick="window.location.reload();">Обновить страницу</button>
                    </span>
                `);
            });
    </script>
</body>
</html>
