<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book addition -->
<form id="add-book-form" th:action="@{/books/addBook}" th:method="post" action="addBook.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="title-input">Название:</label>
        <input id="title-input" name="title" type="text"/>
    </div>

<!-- Author -->
    <div class="row">
        <label for="author-title-input">Автор:</label>
        <input id="author-title-input" name="authorTitle" type="text" />
    </div>

<!-- Genre -->
    <div class="row">
        <label for="genre-title-input">Жанр:</label>
        <input id="genre-title-input" name="genreTitle" type="text" />
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
